<div style="padding: 14px">
  <div>
    <div>




      <motif-footer>
        <div
          style="display: flex; justify-content: space-between; align-items:center"
        >
          <div style="display:flex; gap: 16px">
            <!-- <button motifButton color="primary" size="small">Submit</button>
            <button motifButton color="secondary" size="small">
              Save draft
            </button> -->
            <!-- <button motifButton color="link" size="small">Tertiary</button> -->
          </div>

          <div
            style="display:flex; justify-content: flex-end; align-items: center; gap: 16px;"
          >
            <!-- <p class="motif-footer-text">Text</p>
            <p class="motif-footer-subtext">Subtext</p> -->
            <button motifButton color="primary" size="small">Contact Us</button>
            <button motifButton color="secondary" size="small">
              Get Help
            </button>
          </div>
        </div>
      </motif-footer>
    </div>
  </div>
</div>
