<div class="wrapper-container">
    <div class="field-list-wrapper">
        <div *ngFor="let field of optionalFieldsList; let i = index">
            <motif-checkbox type="text" motifInput (change)="addRemoveControls($event, field, i)">
                {{field.label}}
            </motif-checkbox>
        </div>
    </div>
    <div class="form-wrapper">
        <motif-toast [autoHide]="true" type='error' [duration]="5000" [show]="showErrorToast" actionText="Learn more"
            ariaLabelCloseButton="Close info toast message">
            <ng-container>
                Please fill all mandatory fields.
            </ng-container>
        </motif-toast>

        <form [formGroup]="productDetailsForm">
            <!-- <div class="motif-row">
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel for="firstName">First Name</label>
                        <input id="firstName" motifInput type="text" aria-label="Input" formControlName="firstName"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(firstName?.invalid) && (firstName?.dirty || firstName?.touched)">
                            <span *ngIf="firstName?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Middle Name</label>
                        <input motifInput type="text" aria-label="Input" formControlName="middleName"
                            validationInteraction="touched" />
                    </motif-form-field>
                </div>
                <div  class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Last Name</label>
                        <input motifInput type="text" aria-label="Input" formControlName="lastName"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(lastName?.invalid) && (lastName?.dirty || lastName?.touched)">
                            <span *ngIf="lastName?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Email</label>
                        <input motifInput type="email" aria-label="Input" formControlName="email"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(email?.invalid) && (email?.dirty || email?.touched)">
                            <span *ngIf="email?.errors?.['required']">This information is required.</span>
                            <span *ngIf="email?.errors?.['pattern']">Please enter valid email address.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Phone</label>
                        <input motifInput type="text" aria-label="Input" formControlName="phone"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(phone?.invalid) && (phone?.dirty || phone?.touched)">
                            <span *ngIf="phone?.errors?.['required']">This information is required.</span>
                            <span *ngIf="phone?.errors?.['pattern']">Please enter valid phone.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Alternate Phone</label>
                        <input motifInput type="text" aria-label="Input" formControlName="altPhone"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(altPhone?.invalid) && (altPhone?.dirty || altPhone?.touched)">
                            <span *ngIf="altPhone?.errors?.['required']">This information is required.</span>
                            <span *ngIf="altPhone?.errors?.['pattern']">Please enter valid altPhone.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-lg-6 add-field">
                    <motif-form-field>
                        <label motifLabel>Adress 1</label>
                        <input motifInput type="text" aria-label="Input" formControlName="add1"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="add1?.invalid && (add1?.dirty || add1?.touched)">
                            <span *ngIf="add1?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-6 add-field">
                    <motif-form-field>
                        <label motifLabel>Address 2</label>
                        <input motifInput type="text" aria-label="Input" formControlName="add2"
                            validationInteraction="touched" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>City</label>
                        <input motifInput type="text" aria-label="Input" formControlName="city"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(city?.invalid) && (city?.dirty || city?.touched)">
                            <span *ngIf="city?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>Pincode</label>
                        <input motifInput type="text" aria-label="Input" formControlName="pin"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(pin?.invalid) && (pin?.dirty || pin?.touched)">
                            <span *ngIf="pin?.errors?.['required']">This information is required.</span>
                            <span *ngIf="pin?.errors?.['pattern']">Please enter valid pincode.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-lg-4">
                    <motif-form-field>
                        <label motifLabel>State</label>
                        <input motifInput type="text" aria-label="Input" formControlName="state"
                            validationInteraction="touched" />
                        <div class="error-msg" *ngIf="(state?.invalid) && (state?.dirty || state?.touched)">
                            <span *ngIf="state?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
            <div class="motif-col-lg-4">
                <motif-form-field>
                    <label motifLabel>Country</label>
                    <motif-select formControlName="country" aria-label="Aria Label" validationInteraction="touched"
                        selectTitle="Custom select title" [filter]="true">
                        <motif-option value="0">--Select--</motif-option>
                        <motif-option *ngFor="let country of countryList | async"
                            [value]="country?.name?.common">{{country?.name?.common}}</motif-option>
                    </motif-select>
                    <div class="error-msg" *ngIf="(country?.invalid) && (country?.dirty || country?.touched)">
                        <span *ngIf="country?.errors?.['required']">This information is required.</span>
                    </div>
                </motif-form-field>
            </div>
            <div class="motif-col-lg-4">
                <motif-form-field>
                    <label motifLabel>Date of Birth</label>
                    <input name="dob" formControlName="dob" [motifDatePicker]="dob" placeholder="Select date"
                        [motifDatePickerTrigger]="dob" selectMode="single" />
                    <motif-date-picker #dob></motif-date-picker>
                </motif-form-field>
            </div>
            </div> -->

            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Product Code</label>
                        <input type="text" motifInput formControlName="productCode" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <!-- <label motifLabel>Product Status</label> -->
                        <motif-select type="text" placeholder="Product Status" formControlName="productStatus">
                            <motif-option value="active">Active</motif-option>
                            <motif-option value="inactive">Inactive</motif-option>
                        </motif-select>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <!-- <label motifLabel>Category</label> -->
                        <motif-select type="text" placeholder="Category" formControlName="category">
                            <motif-option value="term">Term</motif-option>
                            <motif-option value="long">Long</motif-option>
                        </motif-select>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Code 1</label>
                        <input type="text" motifInput formControlName="coverageCode1" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Name 1</label>
                        <input type="text" motifInput formControlName="coverageName1" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Code 2</label>
                        <input type="text" motifInput formControlName="coverageCode2" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Name 2</label>
                        <input type="text" motifInput formControlName="coverageName2" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <!-- <label motifLabel>Riders Applicable</label> -->
                        <motif-select type="text" placeholder="Riders Applicable" formControlName="ridersAppicable">
                            <motif-option value="yes">Yes</motif-option>
                            <motif-option value="no">No</motif-option>
                        </motif-select>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-6">
                    <div class="motif-row">
                        <div class="motif-col-md-2">
                            <motif-form-field>
                                <motif-checkbox motifInput formControlName="riderCheckbox1">
                                    Rider 1
                                </motif-checkbox>
                            </motif-form-field>
                        </div>
                        <div class="motif-col-md-4">
                            <motif-form-field *ngIf="productDetailsForm.get('riderCheckbox1')?.value" style="width: 50%;">
                                <motif-radio-button-group aria-label="undefined" role="radiogroup" id="radio-group-label-1"
                                    aria-labelledby="radio-group-label-1" aria-describedby="radio-group-label-1"
                                    formControlName="riderRadio1">
                                    <motif-radio-button value="mandatory">
                                        Mandatory
                                    </motif-radio-button>
                                    <motif-radio-button value="optional">
                                        Optional
                                    </motif-radio-button>
                                </motif-radio-button-group>
                            </motif-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-6">
                    <div class="motif-row">
                        <div class="motif-col-md-2">
                            <motif-form-field>
                                <motif-checkbox motifInput formControlName="riderCheckbox2">
                                    Rider 2
                                </motif-checkbox>
                            </motif-form-field>
                        </div>
                        <div class="motif-col-md-4">
                            <motif-form-field *ngIf="productDetailsForm.get('riderCheckbox2')?.value">
                                <motif-radio-button-group aria-label="undefined" role="radiogroup" id="radio-group-label-1"
                                    aria-labelledby="radio-group-label-1" aria-describedby="radio-group-label-1"
                                    formControlName="riderRadio2">
                                    <motif-radio-button value="mandatory">
                                        Mandatory
                                    </motif-radio-button>
                                    <motif-radio-button value="optional">
                                        Optional
                                    </motif-radio-button>
                                </motif-radio-button-group>
                            </motif-form-field>
                        </div>
                    </div>
                </div>
            </div>


            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[0].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Name</label>
                        <input type="text" motifInput formControlName="productName" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[1].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Description</label>
                        <input type="text" motifInput formControlName="productDescription" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[2].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Tageline</label>
                        <input type="text" motifInput formControlName="productTagline" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[3].isVisible">
                    <motif-form-field>
                        <label motifLabel>Underwriting Guideline</label>
                        <input type="text" motifInput formControlName="underwritingGuidelines" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[4].isVisible">
                    <motif-form-field>
                        <label motifLabel>Underwriting Requirements</label>
                        <input type="text" motifInput formControlName="underwritingRequirements" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[5].isVisible">
                    <motif-form-field>
                        <label motifLabel>Risk Assessment Criteria</label>
                        <input type="text" motifInput formControlName="riskAssessCriteria" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[6].isVisible">
                    <motif-form-field>
                        <label motifLabel>Refundable Premium</label>
                        <input type="text" motifInput formControlName="refundablePrem" />
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[7].isVisible">
                    <motif-form-field>
                        <label motifLabel>Tax Benefits</label>
                        <input type="text" motifInput formControlName="taxBenefits" />
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[8].isVisible">
                    <motif-form-field>
                        <label motifLabel>Renewal</label>
                        <input type="text" motifInput formControlName="renewal" />
                    </motif-form-field>
                </div>
            </div>

            <div class="form-btn-wrapper">
                <button motifButton size="medium" class="mt-3">Save as Draft</button>
                <button motifButton size="medium" class="mt-3">Next</button>
            </div>
        </form>
    </div>
</div>