<div style="padding: 14px">
  <header motif-header>
    // sidebar toggle
    <button motif-header-menu (click)="toggleShowMenu()" [isOpen]="false" position="left"
      aria-label="Toggle menu"></button>

    //logo
    <img motif-header-logo alt="Product name" src="assets/images/ey-logo-black.png" position="left" />

    //Heading
    <span motif-header-title position="left">InsurProdX</span>

    //Search
    <motif-form-field position="right">
      <input motifInput motifSearch type="text" placeholder="Search..." aria-label="Search" [(ngModel)]="model"
        [motifTypeahead]="motifTypeahead" />
    </motif-form-field>

    //notifications
    <button motif-header-icon position="right" (click)="selected = !selected" aria-label="Show notifications">
      <div motifDropdown [autoClose]="true" [closeOnBackdropClick]="true" [open]="false">
        <motif-icon motifIconButton aria-label="Dropdown toggle example" motifDropdownToggle id="motifExampleDropdown"
          [iconFunction]="bell()" strokeWidth="2" fill="none" size="24"></motif-icon>
        <div motifDropdownMenu aria-labelledby="motifExampleDropdown">
          <p class="panel-heading">Notifications</p>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </button>

    //avatar
    <button motif-header-avatar position="right" aria-label="Avatar">
      <div motifDropdown [autoClose]="true" [closeOnBackdropClick]="true" [open]="false">
        <motif-icon motifIconButton aria-label="Dropdown toggle example" motifDropdownToggle id="motifExampleDropdown"
          [iconFunction]="avatar()" strokeWidth="2" fill="solid" size="32"></motif-icon>
        <div motifDropdownMenu aria-labelledby="motifExampleDropdown">
          <button motifDropdownItem>View profile</button>
          <button motifDropdownItem>Edit Profile</button>
          <span class="motif-dropdown-horizontal-divider"></span>
          <button motifDropdownItem>Settings</button>
          <span class="motif-dropdown-horizontal-divider"></span>
          <button motifDropdownItem>Logout</button>
        </div>
      </div>
    </button>
  </header>
</div>