<div  class="container">
<header motif-header>
    <button
      motif-header-menu
      (click)="toggleShowMenu()"
      [isOpen]="false"
      position="left"
      aria-label="Toggle menu"
    ></button>
    <img
      motif-header-logo
      alt="Product name"
      src="assets/images/ey-logo-black.png"
      position="left"
    />

    <!-- <button motif-header-avatar position="left" aria-label="Avatar">
      < motif-avatar  className="undefined"
      size="medium"
></motif-avatar>
    </button> -->
    <span motif-header-title position="left">InsurProdX</span>
    <motif-form-field position="right">
      <input motifInput motifSearch type="text" placeholder="Search..." aria-label="Search" [(ngModel)]="model"
        [motifTypeahead]="motifTypeahead" />
    </motif-form-field>

    //notifications
    <button motif-header-icon position="right" (click)="selected = !selected" aria-label="Show notifications">
      <div motifDropdown [autoClose]="true" [closeOnBackdropClick]="true" [open]="false">
        <motif-icon motifIconButton aria-label="Dropdown toggle example" motifDropdownToggle id="motifExampleDropdown"
          [iconFunction]="bell()" strokeWidth="2" fill="none" size="24">
          <motif-badge type="info-alt" [number]="4" [overlap]="true"> </motif-badge>
        </motif-icon>
        <div motifDropdownMenu aria-labelledby="motifExampleDropdown">
          <p class="panel-heading">Notifications</p>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
          <span class="motif-dropdown-horizontal-divider"></span>
          <div motifDropdownItem>
            <div class="noti-wrapper">
              <div class="noti-heading">Heading</div>
              <div class="noti-body">
                <div class="noti-msg">This is a sample notification.</div>
                <div class="noti-time">12:34</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </button>

    //avatar
    <button motif-header-avatar position="right" aria-label="Avatar">
      <div motifDropdown [autoClose]="true" [closeOnBackdropClick]="true" [open]="false">
        <motif-icon motifIconButton aria-label="Dropdown toggle example" motifDropdownToggle id="motifExampleDropdown"
          [iconFunction]="avatar()" strokeWidth="2" size="32"></motif-icon>
        <div motifDropdownMenu aria-labelledby="motifExampleDropdown">
          <button motifDropdownItem><motif-icon [iconFunction]=viewProfileFunction()></motif-icon>View profile</button>
          <button motifDropdownItem><motif-icon [iconFunction]=editProfileFunction()></motif-icon>Edit Profile</button>
          <span class="motif-dropdown-horizontal-divider"></span>
          <button motifDropdownItem  (click)="registerClick()"><motif-icon [iconFunction]=registerIconFunction()></motif-icon>Register</button>
          <button motifDropdownItem><motif-icon [iconFunction]=settingFunction()></motif-icon>Settings</button>
          <span class="motif-dropdown-horizontal-divider"></span>
          <button motifDropdownItem><motif-icon click="logout()" [iconFunction]=logoutFunction()></motif-icon>Logout</button>
        </div>
      </div>
    </button>



  </header>
  <nav
  motif-vertical-navigation
  [show]="showMenu"
  id="vertical-navigation-menu"
  style="--height: calc(100vh - 85px); position: fixed; z-index: 9999;"
  >
  <ul motif-vertical-navigation-menu [position]="top">
    <li
    motif-vertical-navigation-menu-item
    vertical-navigation-menu-item-active
    [useContextMenu]="true"
  >
    <a
      motif-vertical-navigation-menu-link
      role="button"
      aria-controls="context-switcher-example"
      [hideArrow]="false"
      tabindex="0"
    >
      <motif-icon  [iconFunction]="policy()"></motif-icon>
      <span> Product</span>
    </a>
    <ul motif-vertical-navigation-sub-menu id="context-switcher-example">
      <!-- <caption motif-vertical-navigation-sub-menu-caption>
        switch to
      </caption> -->
      <li motif-vertical-navigation-menu-item>
        <a
        motif-vertical-navigation-menu-link
        role="button"
        aria-controls="context-switcher-example"
        [hideArrow]="false"
        tabindex="0"
          (keypress)="contextSwitcher = onLinkPress1($event, 'Context Switcher 1')"
        >
        <motif-icon  [iconFunction]="policy()"></motif-icon>
        <span> Create a Product</span>
        </a>
        <ul motif-vertical-navigation-sub-menu id="context-switcher-example1">
          <!-- <caption motif-vertical-navigation-sub-menu-caption>
            switch to
          </caption> -->
          <li motif-vertical-navigation-menu-item>
            <a
              motif-vertical-navigation-menu-link
              (click)="contextSwitcher = 'Context Switcher 1'"
              [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 1'}"
              tabindex="0"
              (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 1')"
            >
              <span>Create using Template</span>
            </a>
          </li>
          <li motif-vertical-navigation-menu-item>
            <a
              motif-vertical-navigation-menu-link
              (click)="contextSwitcher = 'Context Switcher 2'"
              [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 2'}"
              tabindex="0"
              (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 2')"
            >
              <span>Blank Template</span>
            </a>
          </li>
          <li motif-vertical-navigation-menu-item>
            <a
              motif-vertical-navigation-menu-link
              (click)="contextSwitcher = 'Context Switcher 3'"
              [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 3'}"
              tabindex="0"
              (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 3')"
            >
              <span>Clone a Product</span>
            </a>
          </li>
        </ul>

      </li>

      <li motif-vertical-navigation-menu-item>
        <a
          motif-vertical-navigation-menu-link
          (click)="contextSwitcher = 'Context Switcher 2'"
          [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 2'}"
          tabindex="0"
          (keypress)="contextSwitcher = onLinkPress1($event, 'Context Switcher 2')"
        >  <motif-icon  [iconFunction]="policy()"></motif-icon>
          <span>Modify a Product</span>
        </a>
      </li>
    </ul>
  </li>
    <!-- <li
    motif-vertical-navigation-menu-item
    vertical-navigation-menu-item-active
    [useContextMenu]="true"
  >
    <a
      motif-vertical-navigation-menu-link
      role="button"
      aria-controls="context-switcher-example"
      [hideArrow]="false"
      tabindex="0"
    >
      <motif-icon  [iconFunction]="policy()"></motif-icon>
      <span>Create a Product</span>
    </a>
    <ul motif-vertical-navigation-sub-menu id="context-switcher-example">
      <!-- <caption motif-vertical-navigation-sub-menu-caption>
        switch to
      </caption> -->
      <!-- <li motif-vertical-navigation-menu-item>
        <a
          motif-vertical-navigation-menu-link
          (click)="contextSwitcher = 'Context Switcher 1'"
          [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 1'}"
          tabindex="0"
          (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 1')"
        >
          <span>Create using Template</span>
        </a>
      </li>
      <li motif-vertical-navigation-menu-item>
        <a
          motif-vertical-navigation-menu-link
          (click)="contextSwitcher = 'Context Switcher 2'"
          [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 2'}"
          tabindex="0"
          (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 2')"
        >
          <span>Blank Template</span>
        </a>
      </li>
      <li motif-vertical-navigation-menu-item>
        <a
          motif-vertical-navigation-menu-link
          (click)="contextSwitcher = 'Context Switcher 3'"
          [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 3'}"
          tabindex="0"
          (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 3')"
        >
          <span>Clone a Product</span>
        </a>
      </li>
    </ul>
  </li>  -->
    <ng-container *ngFor="let item of items; index as i">
      <ng-container
        *ngTemplateOutlet=" itemTemplate ; context: {item, index: i}"
      ></ng-container>
    </ng-container>

    <ng-template #itemTemplate let-item="item">
      <li motif-vertical-navigation-menu-item>
        <a
          motif-vertical-navigation-menu-link
          vertical-navigation-menu-item-active
          [verticalNavigationMenuItemActiveOptions]="{exact: item.exact}"
        >
          <motif-icon *ngIf="item?.icon" [iconFunction]="item?.icon()" ></motif-icon>
          <span>{{item?.label}}</span>
        </a>
      </li>
    </ng-template>
<!--
    <ng-template #subMenuTemplate let-item="item" let-index="index">
      <li
        motif-vertical-navigation-menu-item
        vertical-navigation-menu-item-active
        [useContextMenu]="false"
      >
        <a
          motif-vertical-navigation-menu-link
          role="button"
          [attr.aria-controls]="'submenu-' + index"

          [hideArrow]="false"
        >
          <motif-icon *ngIf="item?.icon" [iconFunction]="item?.icon()"></motif-icon>
          <span>{{item?.label}}</span>
        </a>
        <ul motif-vertical-navigation-sub-menu id="submenu-{{index}}">
          <ng-container *ngFor="let subItem of item.subMenu">
            <li motif-vertical-navigation-menu-item>
              <a
                motif-vertical-navigation-menu-link
                [routerLink]="subItem.routerLink"
                vertical-navigation-menu-item-active
                [verticalNavigationMenuItemActiveOptions]="{exact: subItem.exact}"
              >
                <span>{{subItem?.label}}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-template> -->

  </ul>

  <ul motif-vertical-navigation-menu >
    <!-- <li
      motif-vertical-navigation-menu-item
      vertical-navigation-menu-item-active
      [useContextMenu]="true"
    >
      <a
        motif-vertical-navigation-menu-link
        role="button"
        aria-controls="context-switcher-example"
        [hideArrow]="false"
        tabindex="0"
      >
        <motif-icon var="--content-Ic-Flag-24px"></motif-icon>
        <span>Context Switcher 1</span>
      </a>
      <ul motif-vertical-navigation-sub-menu id="context-switcher-example">
        <caption motif-vertical-navigation-sub-menu-caption>
          switch to
        </caption>
        <li motif-vertical-navigation-menu-item>
          <a
            motif-vertical-navigation-menu-link
            (click)="contextSwitcher = 'Context Switcher 1'"
            [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 1'}"
            tabindex="0"
            (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 1')"
          >
            <span>Context Switcher 1</span>
          </a>
        </li>
        <li motif-vertical-navigation-menu-item>
          <a
            motif-vertical-navigation-menu-link
            (click)="contextSwitcher = 'Context Switcher 2'"
            [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 2'}"
            tabindex="0"
            (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 2')"
          >
            <span>Context Switcher 2</span>
          </a>
        </li>
        <li motif-vertical-navigation-menu-item>
          <a
            motif-vertical-navigation-menu-link
            (click)="contextSwitcher = 'Context Switcher 3'"
            [ngClass]="{'motif-vertical-navigation-menu-item-active': contextSwitcher == 'Context Switcher 3'}"
            tabindex="0"
            (keypress)="contextSwitcher = onLinkPress($event, 'Context Switcher 3')"
          >
            <span>Context Switcher 3</span>
          </a>
        </li>
      </ul>
    </li> -->
  </ul>
  </nav>
</div>



