.wrapper-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
  grid-gap: 1rem;
  gap: 10px;
  margin-left: 300px;
  margin-top: 50px;
  margin-right: 20px;
  margin-top: 100px;
}

.field-wrapper{
  display: grid;

  gap: 1rem;
}
.input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: rgb(19, 24, 19);
}

.form-wrapper{
  display: grid;
  border: 1px solid grey;
  padding: 20px;
  width: 80%;
  border-radius: 5px;
}
.motif-row{
  margin-bottom: 10px;
}
.form-btn-wrapper{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.container{
  display: grid;

}
.sidenav{
  position: absolute;
  display: grid;
  border: 1px solid grey;
  margin-left: 70px;
}
input[type=checkbox]:checked {
  background-color: #4d3911 !important;
  color: #ffffff !important;
}
ul li
{
    list-style-type: none;
}

.check{

    accent-color: rgb(1, 5, 1);


}
