
  <div class="row" class="tab-wrapper">
    <motif-content-switcher #tabs>
        @for (option of Options; track option) {
        <motif-content-switcher-option
        
          [value]="option.value"
          [selected]="option.selected"
          [disabled]="isFormDisabled(option.value)"
        ></motif-content-switcher-option>
        }
      </motif-content-switcher>
    </div>
    <div class="row">
      <ng-template [ngIf]="tabs.selectedOption == 'Product Details'">
        <app-product-details></app-product-details>
      </ng-template>
      <ng-template [ngIf]="tabs.selectedOption == 'Product Info'">
        <app-product-info-form></app-product-info-form>
      </ng-template>
      <ng-template [ngIf]="tabs.selectedOption == 'Coverage & Info'">
        <app-coverage-info></app-coverage-info>
      </ng-template>
    </div>

