

<div class="row">
  <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
<!-- <div class="chart-container" style="position: relative; height:60vh; width:120vw"> -->
  <canvas id="doughnutchart">{{chart}}</canvas>
<!-- </div> -->
</motif-card>
<motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
<!-- <div class="chart-container" style="position: relative; height:60vh; width:120vw"> -->
  <canvas id="barchart">{{chart}}</canvas>
<!-- </div> -->
</motif-card>
<motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
<!-- <div class="chart-container" style="position: relative; height:60vh; width:120vw"> -->
  <canvas id="piechart">{{chart}}</canvas>
<!-- </div>  -->
</motif-card>
</div>