<div class="wrapper-container">
    <div class="field-list-wrapper">
        <div *ngFor="let field of optionalFieldsList; let i = index">
            <motif-checkbox type="text" motifInput (change)="addRemoveControls($event, field, i)">
                {{field.label}}
            </motif-checkbox>
        </div>
    </div>
    <div class="form-wrapper">
        <motif-toast [autoHide]="true" type='error' [duration]="5000" [show]="showErrorToast" actionText="Learn more"
            ariaLabelCloseButton="Close info toast message">
            <ng-container>
                Please fill all mandatory fields.
            </ng-container>
        </motif-toast>

        <form [formGroup]="productDetailsForm">
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Product Code</label>
                        <input type="text" motifInput formControlName="productCode" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="productCode?.invalid && (productCode?.dirty || productCode?.touched)">
                            <span *ngIf="productCode?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Product Status</label>
                        <motif-select type="text" placeholder="Product Status" formControlName="productStatus" validationInteraction="touched">
                            <motif-option value="active">Active</motif-option>
                            <motif-option value="inactive">Inactive</motif-option>
                        </motif-select>
                        <div class="error-msg" *ngIf="productStatus?.invalid && (productStatus?.dirty || productStatus?.touched)">
                            <span *ngIf="productStatus?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Category</label>
                        <motif-select type="text" placeholder="Category" formControlName="category" validationInteraction="touched">
                            <motif-option value="term">Term</motif-option>
                            <motif-option value="long">Long</motif-option>
                        </motif-select>
                        <div class="error-msg" *ngIf="category?.invalid && (category?.dirty || category?.touched)">
                            <span *ngIf="category?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Code 1</label>
                        <input type="text" motifInput formControlName="coverageCode1" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="coverageCode1?.invalid && (coverageCode1?.dirty || coverageCode1?.touched)">
                            <span *ngIf="coverageCode1?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Name 1</label>
                        <input type="text" motifInput formControlName="coverageName1" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="coverageName1?.invalid && (coverageName1?.dirty || coverageName1?.touched)">
                            <span *ngIf="coverageName1?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Code 2</label>
                        <input type="text" motifInput formControlName="coverageCode2"  validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="coverageCode2?.invalid && (coverageCode2?.dirty || coverageCode2?.touched)">
                            <span *ngIf="coverageCode2?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Coverage Name 2</label>
                        <input type="text" motifInput formControlName="coverageName2" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="coverageName2?.invalid && (coverageName2?.dirty || coverageName2?.touched)">
                            <span *ngIf="coverageName2?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4">
                    <motif-form-field>
                        <label motifLabel>Riders Applicable</label>
                        <motif-select type="text" placeholder="Riders Applicable" formControlName="ridersApplicable" validationInteraction="touched">
                            <motif-option value="yes">Yes</motif-option>
                            <motif-option value="no">No</motif-option>
                        </motif-select>
                        <div class="error-msg" *ngIf="ridersApplicable?.invalid && (ridersApplicable?.dirty || ridersApplicable?.touched)">
                            <span *ngIf="ridersApplicable?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-6">
                    <div class="motif-row">
                        <div class="motif-col-md-2">
                            <motif-form-field>
                                <motif-checkbox motifInput formControlName="riderCheckbox1" validationInteraction="touched">
                                    Rider 1
                                </motif-checkbox>
                                <div class="error-msg" *ngIf="riderCheckbox1?.invalid && (riderCheckbox1?.dirty || riderCheckbox1?.touched)">
                                    <span *ngIf="riderCheckbox1?.errors?.['required']">This information is required.</span>
                                </div>
                            </motif-form-field>
                        </div>
                        <div class="motif-col-md-4">
                            <motif-form-field *ngIf="productDetailsForm.get('riderCheckbox1')?.value" style="width: 50%;">
                                <motif-radio-button-group aria-label="undefined" role="radiogroup" id="radio-group-label-1"
                                    aria-labelledby="radio-group-label-1" aria-describedby="radio-group-label-1"
                                    formControlName="riderRadio1" validationInteraction="touched">
                                    <motif-radio-button value="mandatory">
                                        Mandatory
                                    </motif-radio-button>
                                    <motif-radio-button value="optional">
                                        Optional
                                    </motif-radio-button>
                                </motif-radio-button-group>
                            </motif-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-6">
                    <div class="motif-row">
                        <div class="motif-col-md-2">
                            <motif-form-field>
                                <motif-checkbox motifInput formControlName="riderCheckbox2" validationInteraction="touched">
                                    Rider 2
                                </motif-checkbox>
                                <div class="error-msg" *ngIf="riderCheckbox2?.invalid && (riderCheckbox2?.dirty || riderCheckbox2?.touched)">
                                    <span *ngIf="riderCheckbox2?.errors?.['required']">This information is required.</span>
                                </div>
                            </motif-form-field>
                        </div>
                        <div class="motif-col-md-4">
                            <motif-form-field *ngIf="productDetailsForm.get('riderCheckbox2')?.value">
                                <motif-radio-button-group aria-label="undefined" role="radiogroup" id="radio-group-label-1"
                                    aria-labelledby="radio-group-label-1" aria-describedby="radio-group-label-1"
                                    formControlName="riderRadio2" validationInteraction="touched">
                                    <motif-radio-button value="mandatory">
                                        Mandatory
                                    </motif-radio-button>
                                    <motif-radio-button value="optional">
                                        Optional
                                    </motif-radio-button>
                                </motif-radio-button-group>
                            </motif-form-field>
                        </div>
                    </div>
                </div>
            </div>


            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[0].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Name</label>
                        <input type="text" motifInput formControlName="productName" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="productName?.invalid && (productName?.dirty || productName?.touched)">
                            <span *ngIf="productName?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[1].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Description</label>
                        <input type="text" motifInput formControlName="productDescription" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="productDescription?.invalid && (productDescription?.dirty || productDescription?.touched)">
                            <span *ngIf="productDescription?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[2].isVisible">
                    <motif-form-field>
                        <label motifLabel>Product Tageline</label>
                        <input type="text" motifInput formControlName="productTagline" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="productTagline?.invalid && (productTagline?.dirty || productTagline?.touched)">
                            <span *ngIf="productTagline?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[3].isVisible">
                    <motif-form-field>
                        <label motifLabel>Underwriting Guideline</label>
                        <input type="text" motifInput formControlName="underwritingGuidelines" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="underwritingGuidelines?.invalid && (underwritingGuidelines?.dirty || underwritingGuidelines?.touched)">
                            <span *ngIf="underwritingGuidelines?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[4].isVisible">
                    <motif-form-field>
                        <label motifLabel>Underwriting Requirements</label>
                        <input type="text" motifInput formControlName="underwritingRequirements" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="underwritingRequirements?.invalid && (underwritingRequirements?.dirty || underwritingRequirements?.touched)">
                            <span *ngIf="underwritingRequirements?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[5].isVisible">
                    <motif-form-field>
                        <label motifLabel>Risk Assessment Criteria</label>
                        <input type="text" motifInput formControlName="riskAssessCriteria" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="riskAssessCriteria?.invalid && (riskAssessCriteria?.dirty || riskAssessCriteria?.touched)">
                            <span *ngIf="riskAssessCriteria?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[6].isVisible">
                    <motif-form-field>
                        <label motifLabel>Refundable Premium</label>
                        <input type="text" motifInput formControlName="refundablePrem" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="refundablePrem?.invalid && (refundablePrem?.dirty || refundablePrem?.touched)">
                            <span *ngIf="refundablePrem?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[7].isVisible">
                    <motif-form-field>
                        <label motifLabel>Tax Benefits</label>
                        <input type="text" motifInput formControlName="taxBenefits" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="taxBenefits?.invalid && (taxBenefits?.dirty || taxBenefits?.touched)">
                            <span *ngIf="taxBenefits?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>
            <div class="motif-row">
                <div class="motif-col-md-4" *ngIf="optionalFieldsList[8].isVisible">
                    <motif-form-field>
                        <label motifLabel>Renewal</label>
                        <input type="text" motifInput formControlName="renewal" validationInteraction="touched"/>
                        <div class="error-msg" *ngIf="renewal?.invalid && (renewal?.dirty || renewal?.touched)">
                            <span *ngIf="renewal?.errors?.['required']">This information is required.</span>
                        </div>
                    </motif-form-field>
                </div>
            </div>

            <div class="form-btn-wrapper">
                <button motifButton size="medium" class="mt-3" color="primary" size="small" variant="null" [disabled]="productDetailsForm.invalid">Save as Draft</button>
                <button motifButton size="medium" class="mt-3" color="primary" size="small" variant="null"[disabled]="productDetailsForm.invalid" (click)="next()">Next</button>
            </div>
        </form>
    </div>
</div>

<!-- <div class="motif-col-lg-4">
    <motif-form-field>
        <label motifLabel>Date of Birth</label>
        <input name="dob" formControlName="dob" [motifDatePicker]="dob" placeholder="Select date"
            [motifDatePickerTrigger]="dob" selectMode="single" />
        <motif-date-picker #dob></motif-date-picker>
    </motif-form-field>
</div> -->