<div motifDropdown [autoClose]="true" [closeOnBackdropClick]="true" [open]="false">

  <motif-icon motifIconButton aria-label="Dropdown toggle example" motifDropdownToggle id="motifExampleDropdown"
    [iconFunction]="moreHorizIconFunction()"></motif-icon>

  <div motifDropdownMenu aria-labelledby="motifExampleDropdown">
    <button motifDropdownItem><motif-icon [iconFunction]="viewRow()"></motif-icon>View</button>
    <span class="motif-dropdown-horizontal-divider"></span>
    <button motifDropdownItem><motif-icon [iconFunction]="editRow()"></motif-icon>Edit</button>
    <button motifDropdownItem><motif-icon [iconFunction]="deleteRow()"></motif-icon>Delete</button>

  </div>
</div>