<div class="container">
  <div class="item">




      <div class="icon">
        <motif-icon
        [iconFunction]="myIconFunction()"
        strokeWidth="1"
        stroke="currentColor"
        fill="none"
        size="100"
      ></motif-icon>
      </div>


        <span class="motif-h6-default-regular">Car </span>

      </div>
      <div class="item">




        <div class="icon">
          <motif-icon
          [iconFunction]="myIconFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


          <span class="motif-h6-default-regular">Car </span>

        </div>
        <div class="item">




          <div class="icon">
            <motif-icon
            [iconFunction]="myIconFunction()"
            strokeWidth="1"
            stroke="currentColor"
            fill="none"
            size="100"
          ></motif-icon>
          </div>


            <span class="motif-h6-default-regular">Car </span>

          </div>
          <div class="item">




            <div class="icon">
              <motif-icon
              [iconFunction]="myIconFunction()"
              strokeWidth="1"
              stroke="currentColor"
              fill="none"
              size="100"
            ></motif-icon>
            </div>


              <span class="motif-h6-default-regular">Car </span>

            </div>
            <div class="item">




              <div class="icon">
                <motif-icon
                [iconFunction]="myIconFunction()"
                strokeWidth="1"
                stroke="currentColor"
                fill="none"
                size="100"
              ></motif-icon>
              </div>


                <span class="motif-h6-default-regular">Car </span>

              </div>
              <div class="item">




                <div class="icon">
                  <motif-icon
                  [iconFunction]="myIconFunction()"
                  strokeWidth="1"
                  stroke="currentColor"
                  fill="none"
                  size="100"
                ></motif-icon>
                </div>


                  <span class="motif-h6-default-regular">Car </span>

                </div>






</div>
