<!-- <div class="container">
  <div class="item">




      <div class="icon">
        <motif-icon
        [iconFunction]="myIconFunction()"
        strokeWidth="1"
        stroke="currentColor"
        fill="none"
        size="100"
      ></motif-icon>
      </div>


        <span class="motif-h6-default-regular">Car </span>

      </div>
      <div class="item">




        <div class="icon">
          <motif-icon
          [iconFunction]="myIconFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


          <span class="motif-h6-default-regular">Car </span>

        </div>
        <div class="item">




          <div class="icon">
            <motif-icon
            [iconFunction]="myIconFunction()"
            strokeWidth="1"
            stroke="currentColor"
            fill="none"
            size="100"
          ></motif-icon>
          </div>


            <span class="motif-h6-default-regular">Car </span>

          </div>
          <div class="item">




            <div class="icon">
              <motif-icon
              [iconFunction]="myIconFunction()"
              strokeWidth="1"
              stroke="currentColor"
              fill="none"
              size="100"
            ></motif-icon>
            </div>


              <span class="motif-h6-default-regular">Car </span>

            </div>
            <div class="item">




              <div class="icon">
                <motif-icon
                [iconFunction]="myIconFunction()"
                strokeWidth="1"
                stroke="currentColor"
                fill="none"
                size="100"
              ></motif-icon>
              </div>


                <span class="motif-h6-default-regular">Car </span>

              </div>
              <div class="item">




                <div class="icon">
                  <motif-icon
                  [iconFunction]="myIconFunction()"
                  strokeWidth="1"
                  stroke="currentColor"
                  fill="none"
                  size="100"
                ></motif-icon>
                </div>


                  <span class="motif-h6-default-regular">Car </span>

                </div>






</div> -->

<!-- 
<div
motifDropdown
[ngClass]="placementFunction(Placement.BOTTOM_RIGHT)"
[placement]="Placement.BOTTOM_RIGHT"
[scrollStrategy]="ScrollStrategy.Reposition"
[autoClose]="true"
[closeOnBackdropClick]="true"
[open]="false"
>
<button
  motifIconButton
  aria-label="Dropdown toggle example"
  motifDropdownToggle
  id="motifExampleDropdown"
>
  <motif-icon [iconFunction]="iconMappingFunction('moreHoriz')"></motif-icon>
</button>
<div motifDropdownMenu aria-labelledby="motifExampleDropdown">
  @for(item of menuItems; track item) {
  <button motifDropdownItem>
    <motif-icon [iconFunction]="iconMappingFunction(item.icon)"></motif-icon>
    {{ item.text }}
  </button>
  }
  <span class="motif-dropdown-horizontal-divider"></span>
  <button motifDropdownItem>Log out</button>
</div>
</div> -->