<motif-theme variant='light'></motif-theme>
<div class="login-container" style="display: flex; align-items: center; justify-content: center; margin-top: 10%;">
  <!-- <div style=" padding: 14px " class="motif-skeleton-6"> -->
    <div class="wrapper-container">
      <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="validateForm()">
      <div style="text-align:center">
        <img

        alt="Product name"
        src="assets/images/ey-logo-black.png"
        width="50" height="50"
      />
      <div class="headingText"> InsurProdX </div>
      <div class="headingText"> Login </div>
      </div>
      <div class="motif-row">
        <div class="motif-col-xs-4 motif-col-lg" style="margin-bottom: 16px">
          <motif-form-field>
            <label motifLabel>Username</label>
            <input motifInput type="text" aria-label="Username Form Field" formControlName="username" />

            <motif-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">
              Oops, please provide a username!
            </motif-error>
          </motif-form-field>
        </div>
      </div>
      <div class="motif-row">
        <div class="motif-col-xs-4 motif-col-lg" style="margin-bottom: 16px">
          <motif-form-field>
            <label motifLabel>Password</label>
            <input motifInput type="password" aria-label="Password Form Field" formControlName="password" />
            <motif-error
              *ngIf="(form.get('password')?.hasError('required') || form.get('password')?.hasError('minlength'))&& form.get('password')?.touched">
              Oops, please provide a password!
            </motif-error>
          </motif-form-field>
        </div>

      </div>

      <button motifButton color="primary" [disabled]="form.invalid" size="fluid" type="submit">
        Submit
      </button>
      <p (click)="toggleForm()">
        Don't have an account ? <span class="highlighted">SIGNUP</span>
      </p>

    </form>
  </div>
  </div>
</div>