<!-- <div style="padding: 14px" >

  <div class="container">
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/health-insurance.png"
          alt="img" height="300" width="300"
        />

        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Contact CTA</button>
          <button motifButton color="primary" size="fluid">Get Quote</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div>
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/insurance.png"
          alt="img"
        />


        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Contact CTA</button>
          <button motifButton color="primary" size="fluid"> Get Quote</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/life-insurance.png"
          alt="img"
        />

        <motif-card-footer>
          <button motifButton color="secondary" size="fluid"> Contact CTA</button>
          <button motifButton color="primary" size="fluid">Get Quote</button>
        </motif-card-footer>
      </motif-card>
    </div></div>
  </div>
  <br><br>
  <div class="container">
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/ey-logo-black.png"
          alt="img"
        />
        <motif-card-header>
          <span class="motif-body2-default-regular">Design</span>
          <div class="motif-card-subheader">
            <span class="motif-h6-default-regular">UX review presentations</span>
          </div>
        </motif-card-header>
        <motif-card-body>
          <p>
            How do you create compelling presentations that wow your colleagues
            and impress your managers?
          </p>
        </motif-card-body>
        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Button CTA</button>
          <button motifButton color="primary" size="fluid">Button CTA</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div>
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/ey-logo-black.png"
          alt="img"
        />
        <motif-card-header>
          <span class="motif-body2-default-regular">Design</span>
          <div class="motif-card-subheader">
            <span class="motif-h6-default-regular">UX review presentations</span>
          </div>
        </motif-card-header>
        <motif-card-body>
          <p>
            How do you create compelling presentations that wow your colleagues
            and impress your managers?
          </p>
        </motif-card-body>
        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Button CTA</button>
          <button motifButton color="primary" size="fluid">Button CTA</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div >
      <div class="chart-container">
        <canvas id="MyChart">{{ chart}}</canvas>
      </div>
    </div></div>
  </div>



</div>


 -->
<!--
  <div class="container">
  <div class="third"> <div >
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" style="height: 100;">


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="myIconFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Car </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>


  </div></div>
  <div class="third"> <div>
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="mybikeFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Bike </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>

  </div></div>
  <div class="third"> <div >
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="myflightFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Travel </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>
  </div></div>
  <div class="third"> <div >
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" style="height: 100;">


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="myIconFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Car </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>


  </div></div>
  <div class="third"> <div>
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="mybikeFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Bike </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>

  </div></div>
  <div class="third"> <div >
    <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >


      <motif-card-header  style="align-items: center;" >

        <div class="icon">
          <motif-icon
          [iconFunction]="myflightFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Travel </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


      </motif-card-header>
    </motif-card>
  </div></div>
</div> -->




<div class="container">
  <div class="third"> <div >



        <div class="icon">
          <motif-icon
          [iconFunction]="myIconFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Car </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


  </div></div>
  <div class="third"> <div>


        <div class="icon">
          <motif-icon
          [iconFunction]="mybikeFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Bike </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>




  </div></div>
  <div class="third"> <div >

        <div class="icon">
          <motif-icon
          [iconFunction]="myflightFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Travel </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


  </div></div>
  <div class="third"> <div >



    <div class="icon">
      <motif-icon
      [iconFunction]="myIconHealth()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">Health </span>

    </div>
    <span class="motif-body2-default-regular"> Insurance</span>


</div></div>
<div class="third"> <div>


    <div class="icon">
      <motif-icon
      [iconFunction]="mytermFunction()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">Term </span>

    </div>
    <span class="motif-body2-default-regular"> Insurance</span>




</div></div>
<div class="third"> <div >

    <div class="icon">
      <motif-icon
      [iconFunction]="myfFunction()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">Family </span>

    </div>
    <span class="motif-body2-default-regular"> Insurance</span>


</div></div>

</div>





<div class="container">
  <div class="third"> <div >



        <div class="icon">
          <motif-icon
          [iconFunction]="myBussinessFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Bussiness </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


  </div></div>
  <div class="third"> <div>


        <div class="icon">
          <motif-icon
          [iconFunction]="mypetFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Pet </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>




  </div></div>
  <div class="third"> <div >

        <div class="icon">
          <motif-icon
          [iconFunction]="mylifeFunction()"
          strokeWidth="1"
          stroke="currentColor"
          fill="none"
          size="100"
        ></motif-icon>
        </div>


        <div class="motif-card-subheader">
          <span class="motif-h6-default-regular">Life </span>

        </div>
        <span class="motif-body2-default-regular"> Insurance</span>


  </div></div>
  <div class="third"> <div >



    <div class="icon">
      <motif-icon
      [iconFunction]="myInvestment()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">Investment </span>

    </div>
    <span class="motif-body2-default-regular"> Plans</span>


</div></div>
<div class="third"> <div>


    <div class="icon">
      <motif-icon
      [iconFunction]="mytaxiFunction()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">Taxi </span>

    </div>
    <span class="motif-body2-default-regular"> Insurance</span>




</div></div>
<div class="third"> <div >

    <div class="icon">
      <motif-icon
      [iconFunction]="myviewFunction()"
      strokeWidth="1"
      stroke="currentColor"
      fill="none"
      size="100"
    ></motif-icon>
    </div>


    <div class="motif-card-subheader">
      <span class="motif-h6-default-regular">View </span>

    </div>
    <span class="motif-h6-default-regular"> more</span>


</div></div>

</div>



