<div style="padding: 14px" >

  <div class="container">
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/health-insurance.png"
          alt="img" height="300" width="300"
        />

        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Contact CTA</button>
          <button motifButton color="primary" size="fluid">Get Quote</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div>
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/insurance.png"
          alt="img"
        />


        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Contact CTA</button>
          <button motifButton color="primary" size="fluid"> Get Quote</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/life-insurance.png"
          alt="img"
        />

        <motif-card-footer>
          <button motifButton color="secondary" size="fluid"> Contact CTA</button>
          <button motifButton color="primary" size="fluid">Get Quote</button>
        </motif-card-footer>
      </motif-card>
    </div></div>
  </div>
  <br><br>
  <div class="container">
    <div class="third"> <div >
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/ey-logo-black.png"
          alt="img"
        />
        <motif-card-header>
          <span class="motif-body2-default-regular">Design</span>
          <div class="motif-card-subheader">
            <span class="motif-h6-default-regular">UX review presentations</span>
          </div>
        </motif-card-header>
        <motif-card-body>
          <p>
            How do you create compelling presentations that wow your colleagues
            and impress your managers?
          </p>
        </motif-card-body>
        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Button CTA</button>
          <button motifButton color="primary" size="fluid">Button CTA</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> <div>
      <motif-card orientation="vertical" cardVariant="card-border" id="first-div" >
        <img
          motifCardImage
          src="assets/images/ey-logo-black.png"
          alt="img"
        />
        <motif-card-header>
          <span class="motif-body2-default-regular">Design</span>
          <div class="motif-card-subheader">
            <span class="motif-h6-default-regular">UX review presentations</span>
          </div>
        </motif-card-header>
        <motif-card-body>
          <p>
            How do you create compelling presentations that wow your colleagues
            and impress your managers?
          </p>
        </motif-card-body>
        <motif-card-footer>
          <button motifButton color="secondary" size="fluid">Button CTA</button>
          <button motifButton color="primary" size="fluid">Button CTA</button>
        </motif-card-footer>
      </motif-card>

    </div></div>
    <div class="third"> 
      <div>
        <!-- table -->
      <!-- <div class="chart-container">
        <canvas id="MyChart">{{ chart}}</canvas>
      </div> -->
    </div>
  </div>
  </div>



</div>



