.container {
  display: grid;
            grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
            grid-gap: 1rem;
            gap: 10px;
            box-shadow: 0 20px 10px rgba(0,0,0,0.1);
            border-radius:25px;
           // margin-left: 100px;
           // margin-right: 100px;
            margin-left: 80px;
            margin-right: 20px;
            background-color: #F3F3F5
            ;

}

.third {
  padding: 20px;
  text-align: center;
  padding: 20px;
  justify-content: center;
  display: flex;
  margin: 5px;
  border: 0.5px ;
}
.motif-card-header {
align-items: center;
}
.icon{
  align-items: center;
}
.--card-header-alt-icon-hover-icon-color	{
 align-items: center;
}
.third:hover {background-color: #D7D7DC
  ;}
